/* 各ページ別css */


/* 検索ページ */
.title{
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: blue;
}

.btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: rgb(82, 82, 82);
    background-color: rgb(255, 191, 16);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 2px #d27d00;
  }
  
  .btn:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    text-decoration: none;
    color: rgb(82, 82, 82);
    padding: 0.32em 1.02em;
  }


/* 検索結果のページ */
.result{
  min-width: 500px;
  min-height: 70vh;
  background-color: white;
  font-size: 20px;
  border:2px solid rgb(255, 191, 16);
  border-radius: 10px;
}


.file{
  border-bottom: 1px solid rgb(168, 168, 168);
  display: inline-block;
}

summary:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}


/* 置換検索ページ */
.text_form {
  width: 80%;
  margin:0 auto;
}
.text_form input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 80%;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.text_form input[type=text]:focus {
	border-color: #da3c41;
}
.text_form input[type=text] {
	padding-left: 10px;
}


