<!doctype html>
<html lang="jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <title>Link Share</title>
  </head>
  <body>
    <header class="navbar navbar-dark bg-primary">
      <h1><a class="navbar-brand" href="./index.html">Link Share</a></h1>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <h2 class="py-3 col-md">みんなのまとめ</h2>
          <div class="text-right col-md pt-3">
            <a href="./new.html" class="btn btn-outline-primary">まとめを作成</a>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <h4 class="card-title">競技プログラミングで役に立つサイト</h4>
            <h6 class="card-subtitle">かとう</h6>
            <p class="card-text">競技プログラミングで役に立つサイトをまとめました</p>
            <a href="./show.html" class="btn btn-outline-primary">まとめを見る</a>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <h4 class="card-title">お菓子のづくりに役立つサイト</h4>
            <h6 class="card-subtitle">お菓子大好きマン</h6>
            <p class="card-text">さくっと簡単に出来るおいしいおやつのレシピ集！</p>
            <a href="#" class="btn btn-outline-primary">まとめを見る</a>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <h4 class="card-title">Railsの勉強で役に立つサイト集</h4>
            <h6 class="card-subtitle">shu</h6>
            <p class="card-text">Railsの勉強で役に立つサイトをまとめました</p>
            <a href="#" class="btn btn-outline-primary">まとめを見る</a>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    <footer>
      <div class="container text-center">
        <p><small>Copyright &copy;2020 Link Share, All Rights Reserved.</small></p>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>