{%- extends "layout.html" %}
{%- block content %}
<main>
  <div class="container">
    <div class="row">
      <h2 class="py-3 col-md">みんなのまとめ</h2>
      <div class="text-right col-md pt-3">
        <a href="./new.html" class="btn btn-outline-primary">まとめを作成</a>
      </div>
    </div>
    {{ result }}
    <!-- <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">お菓子のづくりに役立つサイト</h4>
        <h6 class="card-subtitle">お菓子大好きマン</h6>
        <p class="card-text">さくっと簡単に出来るおいしいおやつのレシピ集！</p>
        <a href="#" class="btn btn-outline-primary">まとめを見る</a>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">Railsの勉強で役に立つサイト集</h4>
        <h6 class="card-subtitle">shu</h6>
        <p class="card-text">Railsの勉強で役に立つサイトをまとめました</p>
        <a href="#" class="btn btn-outline-primary">まとめを見る</a>
      </div> -->
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</main>
{%- endblock %}