{%- extends "layout.html" %}
{%- block content %}
<main>
  <div class="container">
    <h2 class="py-3">新しくリンクをまとめる</h2>
    <form action="" method="POST">
      <div class="form-group">
        <label for="title">タイトル</label>
        <input class="form-control" name="title" id="title" type="text">
      </div>
      <div class="form-group">
        <label for="author">作成者</label>
        <input class="form-control" name="author"  id="author" type="text">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pass_exists" onchange="chk(this.value)">
        <label class="form-check-label" for="pass_exists">パスワードを設定する</label>
      </div>
      <div class="form-group">
        <label for="author">パスワード</label>
        <input class="form-control" name="author"  id="author" type="text">
      </div>
      <div class="form-group pb-3">
        <label for="description">説明</label>
        <textarea class="form-control" name="description" id="description"></textarea>
      </div>
      <button type="submit" class="btn btn-raised btn-primary" formaction="main_add.html">まとめる！</button>
    </form>
  </div>
</main>
{%- endblock %}