{%- extends "layout.html" %}
{%- block content %}
<main>
  <div class="container">
    {{ result }}
    <!-- <h2 class="py-3">競技プログラミングで役に立つサイト</h2>
    <a href="./main.html" class="btn btn-outline-primary mb-3">戻る</a>
    <div class="row">
      <div class="col-md-3">
        <h3><a href="https://atcoder.jp/">Atcoder</a></h3>
      </div>
      <div class="col-md-9">
        <p>国内最大規模の競技プログラミングのサイトです</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h3><a href="https://paiza.jp/">Paiza</a></h3>
      </div>
      <div class="col-md-9">
        <p>競技プログラミング形式で自分のスキルがチェックでき、そのまま就活に使えることが有利なサイトです。</p>
      </div>
    </div> -->
    <div>
      <a href="./new_link.html?name={{name}}" class="btn btn-outline-primary mb-3">リンクを追加する</a>
    </div>
  </div>
</main>
{%- endblock %}